node_modules/
build/
contracts/
package-lock.json
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

ABI.json
contractAdress.json
allAddress.json
allAbi.json

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

